# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.env
.env.*
!.env.example
!backend/.env.example
instance/
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# Mac
.DS_Store
